black
click
email-validator
flake8
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2
MarkupSafe
pytest
python-dotenv
SQLAlchemy
Werkzeug
WTForms
requests==2.23.0
beautifulsoup4
shopifyapi
