/* custom css */
.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

/* base content */
.memo_flex_column {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}
.memo_flex_column > div:first-child {
    flex-grow: 1;
}
.memo_flex_column ._row {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
._row > :last-child {
    flex-grow: 3.7;
}

.prefix_vidaxl{
    display: flex;
    flex-flow: column wrap;
}

.prefix_vidaxl > :last-child {
    margin-top: 1rem;
}

.prefix_checkbox {
    top: 0.1rem;
    margin-left: 1.5rem;
}

.flex {
    display: flex;
    align-items: baseline;
    flex-basis: 100%;
}

.memo_input_field {
    min-width: 60% !important;
}

.label {
    width: 8rem !important;
}

/* Category */
.category {
    max-height: 40vh;
    flex-grow: 1;
    flex-basis: 35%;
    overflow: auto;
}

.category_field {
    margin-top: 1rem;
    min-width: 65% !important;
}

.category_file {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    flex-basis: 100%;
}

.category_rows {
    overflow: auto;
    max-height: 35vh;
}

.order-table {
    border: 2px solid black;
    margin: 30px;

}

.cells {
    border: 1px solid darkslategray;
    padding: 5px;
}

