/* custom css */
.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.memo_flex_row {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.memo_flex_row > div:first-child {
    flex-grow: 1;
}
.prefix_vidaxl{
    display: flex;
    flex-flow: column wrap;
}

.prefix_vidaxl > :last-child {
    margin-top: 1rem;
}

.prefix_checkbox {
    top: 0.1rem;
    margin-left: 1.5rem;
}

.flex {
    display: flex;
    align-items: baseline;
    flex-basis: 100%;
}

.access_token {
    min-width: 60% !important;
}

.label {
    width: 8rem !important;
}

/* Category */
.category {
    flex-grow: 1;
    flex-basis: 60%;
}

.category_field {
    max-width: 65% !important;
}

.category_file {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    flex-basis: 100%;
}

.category_rows {
    overflow: scroll;
    height: 35vh;
}

.btn {
    margin-top: 1rem;
    width: 35%;
    font-size: 1.35rem;
    min-width: 10%;
}
