{% extends 'base.html' %}
{% block links %}
<link href="bootstrap.css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/multi_selector.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block content %}
<div class="container py-10">
  <div class="card w-90 mx-auto">
    <div class="card-header">
      <h4 class="card-title">Admin panel</h4>
    </div>
    <div class="card-body">
      <form class="form" role="form" action="{{ url_for('admin.admin', shop_id=form.shop_id, shop=shop) }}"
        method="post" enctype="multipart/form-data">
        <div class="memo_flex_column">
          <div class="">
            <div class="">
              {{form.private_app_access_token.label(class='label')}}
              {{form.private_app_access_token(class='form-control col-sm-1 memo_input_field')}}
            </div>
          </div>
          <div class="category_file">
            <div>
              {{form.category_rules_file.label(class='label')}}
              {{form.category_rules_file(class='form-control col-sm-7 category_field')}}
            </div>
            <div class="form-group row">
              <a href="{{ url_for('admin.all_categories') }}">All Categories</a>
            </div>
          </div>
          <div class="_row">
            <div class="form-group category">
              <div class="category_panel">
                <div class="category_rows">
                  {% for path in form.categories %}
                  <div>
                    {{ path }}
                  </div>
                  {% endfor %}
                </div>

                <!-- <div>
                  <ul class="top-level-menu" id="categorySelectorID">
                    <li>
                      <a href="#" id="rootID" class="active_link">Root</a>
                      <ul class="second-level-menu">
                        <li><a href="#">Category 1</a></li>
                        <li><a href="#">Category 2</a></li>
                        <li>
                          <a href="#">Category 3</a>
                          <ul class="third-level-menu">
                            <li><a href="#" id="test_id">Subcategory 1</a></li>
                            <li><a href="#">Subcategory 2</a></li>
                            <li><a href="#">Subcategory 3</a></li>
                            <li><a href="#" class="">Subcategory 4</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Category 4</a></li>
                      </ul>

                    </li>
                  </ul>
                </div> -->
              </div>
              <!-- bootstrap-tree -->
              <div id="tree"></div>
              <!-- test category tree -->
              <div>
              <!-- <ul id="categoryTreeID" class="tree">
                <li id="rootID"><span class="caret"></span><a href="#">Root</a>
                  <ul class="nested">
                    <li><a href="#">Water</a></li>
                    <li><a href="#">Coffee</a></li>
                    <li><span class="caret"></span>
                      <a href="#">Tea</a>
                      <ul class="nested">
                        <li><a href="#">Black Tea</a></li>
                        <li><a href="#">White Tea</a></li>
                        <li><span class="caret"></span>
                          <a href="#">Green Tea</a>
                          <ul class="nested">
                            <li><a href="#">Sencha</a></li>
                            <li><a href="#">Gyokuro</a></li>
                            <li><a href="#">Matcha</a></li>
                            <li><a href="#">Pi Lo Chun</a></li>
                          </ul>
                          <li><span class="caret"></span>
                            <a href="#">test</a>
                            <ul class="nested">
                              <li><a href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                            </ul>
                          </li>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul> -->
              </div>
            </div>
            <div>
              <div class="form-group row">
                <div class="flex">
                  {{form.leave_vidaxl_prefix.label(class='')}}
                  {{form.leave_vidaxl_prefix(class='form-control col-sm-1 prefix_checkbox')}}
                </div>
              </div>
              <div class="form-group row">
                <div class="flex">
                  {{form.mom_selector.label(class='')}}
                  {{form.mom_selector(class='form-control col-sm-1 prefix_checkbox')}}
                </div>
              </div>
              <div class="form-group row">
                <div class="flex">
                  {{form.margin_percent.label(class='label')}}
                  {{form.margin_percent(class='form-control col-sm-1 memo_input_field')}}
                </div>
              </div>
              <div class="form-group row">
                <div class="flex">
                  {{form.round_to.label(class='label')}}
                  {{form.round_to(class='form-control col-sm-1 memo_input_field')}}
                </div>
              </div>
            </div>
          </div>
        </div>
        {{form.submit(class='btn')}}
        {{form.hidden_field(id="hidden_field_id")}}
      </form>
    </div>
  </div>
</div>
{% block scripts %}
<!-- <script src="jquery.js"></script>
<script src="bootstrap-treeview.js"></script> -->
<!-- <script>
  $(document).ready(function() {
    function getTree() {
      // Some logic to retrieve, or generate tree structure
        let tree = [
        {
          text: "Parent 1",
          nodes: [
            {
              text: "Child 1",
              nodes: [
                {
                  text: "Grandchild 1"
                },
                {
                  text: "Grandchild 2"
                }
              ]
            },
            {
              text: "Child 2"
            }
          ]
        },
        {
          text: "Parent 2"
        },
        {
          text: "Parent 3"
        },
        {
          text: "Parent 4"
        },
        {
          text: "Parent 5"
        }
      ];
      return tree;
    };

    $('#tree')[0].treeview({data: getTree()});
  })
</script> -->
{% endblock %}
{% endblock %}