{% extends 'base.html' %}
{% block links %}
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/bootstrap-treeview.css') }}" rel="stylesheet" media="screen">

{% endblock %}
{% block content %}
<div class="container py-10">
  <div class="card w-90 mx-auto">
    <div class="card-header">
      <h4 class="card-title">Admin panel</h4>
    </div>
    <div class="card-body">
      <form class="form" role="form" action="{{ url_for('admin.admin', shop_id=form.shop_id, shop=shop) }}"
        method="post" enctype="multipart/form-data">
        {{form.categories_tree(id='category-tree-data')}}
        <div class="memo_flex_column">
            <div class="row">
              {{form.private_app_access_token.label(class='col-sm-3')}}
              {{form.private_app_access_token(class='form-control col-sm-9')}}
            </div>
            <div class="row">
              {{form.category_rules_file.label(class='form-control-label col-sm-3')}}
              {{form.category_rules_file(class='form-control col-sm-2')}}
              <a href="{{ url_for('admin.all_categories')}}" class="form-control-label col-sm-4">Get All</a>
            </div>
            <div class="row">
              {{form.csv_url.label(class='form-control-label col-sm-3')}}
              {{form.csv_url(class='form-control col-sm-9')}}
            </div>
          </div>
          <div class="row">
            <div class="form-group category col-sm-6">
              <div id="category-tree"></div>
            </div>
            <div>
              <div class="form-group row">
                <div class="flex">
                  {{form.leave_vidaxl_prefix.label(class='col-sm-7')}}
                  {{form.leave_vidaxl_prefix(id='LEAVE_VIDAXL_PREFIX', class='form-control col-sm-1')}}
                </div>
              </div>
              <div class="form-group row">
                <div class="flex">
                  {{form.margin_percent.label(class='col-sm-7')}}
                  {{form.margin_percent(id='MARGIN_PERCENT', class='form-control col-sm-3')}}
                </div>
              </div>
              <div class="form-group row">
                <div class="flex">
                  {{form.mom_selector.label(class='col-sm-7')}}
                  {{form.mom_selector(id='MOM_SELECTOR', class='form-control col-sm-1')}}
                </div>
              </div>
              <div class="form-group row">
                <div class="flex">
                  {{form.round_to.label(class='col-sm-7')}}
                  {{form.round_to(id='ROUND_TO', class='form-control col-sm-3')}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            {{form.submit(class='btn col-sm-5')}}
            <a class="btn btn-primary btn-danger col-sm-5 reset" href="{{ url_for('admin.reset_conf', shop_id=shop_id)}}" role="button">Reset</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript" defer></script>
<script src="{{ url_for('static', filename='js/bootstrap-treeview.js') }}" type="text/javascript" defer></script>
<script src="{{ url_for('static', filename='js/category_tree.js') }}" type="text/javascript" defer></script>
{% endblock %}
{% endblock %}